/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* setting default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
}

/* error page */
#error-page {
    margin-top: 150px;
    padding: 25px;
}

#error-page p {
    color: white;
    font-size: 1.5rem;
}
.defaultTxt {
    color: #fff;
    font-size: 1.25rem;
}

.centerAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeLink {
    color: red;
    font-size: 1.5rem;
}

/* Body */
body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #636363;
}

main {
    width: 100vw;
    height: 100%;
}
#home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: #fff;
    font-size: 3.5rem;
}

h2 {
    color: #fff;
    font-size: 1.75rem;
}

h3 {
    color: #fff;
    font-size: 1.75rem;
}

p {
    font-size: 1rem;
}

header {
    width: 100vw;
    height: 50px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-bottom: solid 1px #fff;
}

nav a {
    text-decoration: none;
    padding: 0 15px;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    visibility: hidden;
    /* his line sets the width of the element to zero along the X-axis,
   effectively hiding it initially */
    transform: scaleX(0);

    transition: all 0.3s ease-in-out;
}

nav a:hover::after {
    visibility: visible;
    /* gradually increases the width with the transition */
    transform: scaleX(1);
}

/* Start of Home page styling */
#homeBody {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.35)),
        url(../media/hero-image.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

#titleHeader {
    flex-direction: column;
    width: 100vw;
    height: 100px;
}
#luck-h2 {
    color: red;
}
#homeCards {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.homeCardImg {
    width: 125px;
    height: 175px;
    background-color: rgb(255, 255, 255);
}

#pageLinks {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 75px;
}

.pLink {
    width: 115px;
    height: 65px;
    background-color: rgba(000, 000, 000, 0.5);
    border-radius: 50px;
    border: solid 1px #fff;
    transition: color 0.3s;
}

.pLink p {
    color: white;
}

.pLink:hover {
    border: solid 1px red;
}


/* End of Home Page styling */

/* Start of Rules page styling */
#rulesBody {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75)),
        url(../media/hero-image.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

#rulesHeader {
    font-size: 2.25rem;
    margin-top: 55px;
    padding: 0 25px;
    color: #fff;

}

#rules-content {
    padding: 0 25px;
    flex-wrap: wrap;
    color: #fff;
}

#rules-content li {
    list-style-type: none;
}

#rules-content li {
    color: #fff;
}

#rulesPageLinks {
    margin-top: 20px;
    padding-bottom: 25px;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Game Page */

#game-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75)),
        url(../media/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    
}

#player-cards img {
    padding-top: 15px;
    height: 125px;
    width: 90px;
    margin: 1px;
}

#dealer-cards img {
    padding-top: 15px;
    height: 125px;
    width: 90px;
    margin: 1px;
}

#game-container {
    display: flex;
    flex-direction: column;
}

#dealer-container {
    padding-top: 15px;
    margin-top: 55px;
    text-align: center;
}

#player-container {
    padding-top: 15px;
    text-align: center;
}

.buttonSize {
    width: 75px;
    height: 50px;
}

#game-btns {
    padding-top: 15px;
}

#reset-game {
    margin-top: 25px;
    font-size: 0.8rem;
    border-radius: 10px;
}

#results-container {
    background-color: #fff;
    width: 75px;
    height: 50px;
    text-align: center;
    margin-top: 15px;
    border-radius: 15px;
}

#info-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

#myBtn {
    width: 75px;
    height: 50px;
    font-size: 1.5rem;
    margin-top: 15px;
    border-radius: 10px;
}

/* code inspired from 'https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal' */
/* code for the modal */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    /* Sit on top of other elements */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    background-color: #000000;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #000;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (min-width: 425px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 3rem;
    }
    .homeCardImg {
        display: none;
    }
    #pageLinks {
        margin-top: 25px;
    }
    #main-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #game-container {
        width: 70%;
    }

    #info-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 30%;
        margin-top: 75px;
        padding-right: 25px;
    }

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3.5rem;
    }
    /* home page */
    .homeCardImg {
        display: none;
        margin-bottom: 30px;
    }

    /* end of home page */
    /* game page */
    #main-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #game-container {
        width: 70%;
    }

    #info-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 30%;
        margin-top: 150px;
        padding-right: 25px;
    }

    #player-cards img {
        width: 125px;
        height: 200px;
    }

    #dealer-cards img {
        width: 125px;
        height: 200px;
    }

    .buttonSize {
        width: 100px;
        height: 50px;
    }

    #hit {
        font-size: 2rem;
    }

    #stay {
        font-size: 2rem;
    }

    #reset-game {
        font-size: 1.5rem;
        width: 125px;
        height: 75px;
        margin-top: 235px;

    }

    #results-container {
        margin-top: 15px;
        font-size: 1.5rem;
    }

    #game-btns {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* end of game page */
}